<h1 class='my-4 text-2xl text-gray-700'>Melita</h1>
<form [formGroup]='form' (ngSubmit)='onSubmit()' class='flex flex-col space-y-5'>
  <div class='flex flex-col space-y-1'>
    <label for='email' class='text-sm font-semibold text-white'>Email address</label>
    <input class='px-4 py-2 transition duration-300 focus:outline-none focus:ring-4 focus:ring-sky-200' id='email'
           placeholder='Username' formControlName='username' />

  </div>
  <div class='flex flex-col space-y-1'>
    <label for='password' class='text-sm font-semibold text-white'>Password</label>
    <input type='password' id='password'
           formControlName='password'
           class='px-4 py-2 transition duration-300 focus:outline-none focus:ring-4 focus:ring-sky-200'
           placeholder='Password' />

  </div>
  <div class='flex items-center justify-between space-x-2'>
    <div>
      <input
        type='checkbox'
        formControlName='remember'
        id='remember'
        class='w-4 h-4 transition duration-300 rounded focus:ring-2 focus:ring-offset-0 focus:outline-none focus:ring-sky-200'
      />
      <label for='remember' class='text-sm font-semibold text-white'>Remember me</label>
    </div>

    <a class='text-sm text-white hover:underline focus:text-sky-800'>Forgot Password?</a>

  </div>
  <div>

    <button
      type='submit'
      class='w-full px-4 py-2 text-lg font-semibold text-white outline hover:outline-2 transition-colors duration-300'>
      Log in
    </button>

  </div>
</form>


